{% load i18n %}
    <div class="hs-caption">
        <div class="caption-content">
            <div class="hs-title-size-2 font-alt mb-30">
                {% trans "Our Wedding" %}
            </div>

            <div class="hs-title-size-4 font-alt mb-30">
                &nbsp;&nbsp;&nbsp;&nbsp;Rafael 
                <span class="icon-heart"></span>
                Elisabeth
            </div>

            <div class="hs-title-size-2 font-alt mb-40">
                {% trans "June 25, 2016" %} <br>
                {% trans "Philadelphia, PA" %} 
            </div><a class="section-scroll btn btn-w btn-round btn-lg" href=
            "{% url 'rsvp' %}">{% trans "RSVP" %}</a>
        </div>
    </div>