{% extends "base.html" %} {% load staticfiles i18n %} {% block additional_scripts %}
<script type="text/javascript" src="{% static 'js/jquery.countdown.min.js' %}"></script>
<script type="text/javascript">
$(function() {
    $('.clock').countdown({
        date: "June 25, 2016",
        render: function(data) {
            $(this.el).html("<div>" + this.leadingZeros(data.days, 3) + " <span>{% trans "days"%}</span></div>");
        }
    });
});
</script>
<script type="text/javascript">
$(function() {
    $('#code_form').find('input,textarea').jqBootstrapValidation();
});
</script>
{% endblock additional_scripts %} {% block content %}
<div class="main">
    <section class="module bg-dark bg-dark-60" data-background="{% static 'images/ElisabethandRafael_022.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h1 class="module-title font-alt mb-0">{% trans "RSVP" %}</h1>
                </div>
            </div>
            <!-- .row -->
        </div>
    </section>
    <section id="home" class="home-section home-full-height bg-dark-90 pt-0 pb-0" data-background="{% static 'images/physick_house_inside.jpg' %}">
        <div class="container" <div class="row">
            <div id="rsvpsoon" class="col-sm-6 col-sm-offset-3">
                <h4 class="font-alt">{% trans "Really soon now..." %}</h4>
                <br>
                <br>
                <div class="module-subtitle font-serif">
                    {% trans "You'll be able to RSVP online very soon." %}
                    <br>{% trans "Please leave your email so we can notify you of when RSVP opens." %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="module-icon">
                    <img width="48x" src="{% static 'images/rsvp/wedding-icons_computer.svg' %}" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        </div>
        <!-- .row -->
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <strong>{% trans "RSVP" %}</strong>
                    </div>
                    {{ form.non_field_errors }}
                    <div class="panel-body">
                        <form id="code_form" action="{% url 'rsvp' %}" method="post" class="form-horizontal" role="form" novalidate="">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="{{ form.email.id_for_label }}" class="sr-only" for="cemail">{% trans "Your Email" %}</label>
                                <div class="col-sm-12">
                                    {{ form.email }}
                                    <p class="help-block text-danger"></p>
                                    <p class="font-alt">{{ form.email.errors }}</p>
                                </div>
                            </div>
                            <div class="form-group last">
                                <div class="text-center col-sm-8 col-sm-offset-2">
                                    <button type="submit" class="btn btn-danger btn-block btn-round btn-sm">
                                        {% trans "Notify me!" %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <blockquote class="testimonial-text font-alt">{% trans "We are very excited to see everyone at the wedding!" %}
                </blockquote>
            </div>
        </div>
        <!-- .row -->
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="testimonial-author">
                    <div class="testimonial-caption font-alt">
                        <div class="testimonial-title">
                            <div class="clock"></div>
                        </div>
                        <div class="testimonial-descr">Elisabeth &amp; Rafael</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .row -->
    </section>
    <!-- Testimonials end -->
    <hr class="divider-w">
    <!-- Divider -->
    <!-- Divider -->
    <hr class="divider-d">
</div>
{% endblock content %}
