{% load staticfiles i18n %}
<hr class="divider-w">
<!-- Divider -->
<!-- Specialities start -->
<section id="dining" class="module">
    <div class="container">
        <!-- Module header start -->
        <div class="row">
            <div class="col-sm-2 col-sm-offset-5">
                <div class="alt-module-subtitle">
                    <span class="holder-w"></span>
                    <h5 class="font-serif">{% trans "Take a look at" %}</h5>
                    <span class="holder-w"></span>
                </div>
            </div>
        </div>
        <!-- .row -->
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="module-title font-alt">{% trans "Our Favorite Places" %}</h2>
            </div>
        </div>
        <!-- .row -->
        <!-- Module header end -->
        <div class="row multi-columns-row">
            <!-- Content box start -->
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="content-box">
                <a href="http://www.yelp.com/biz/rival-bros-philadelphia-2" target="_blank">
                    <div class="content-box-image">
                        <img src="http://s3-media3.fl.yelpcdn.com/bphoto/wyGLmAEh37OqZpXHpBnZBA/o.jpg" alt="">
                    </div>
                    <h3 class="content-box-title font-serif">Rival Bros. Coffee</h3> </a> {% trans "Incredible house roasted coffee, with a nitrogen-powered cold brew: the Nitro. Pretty unique stuff!" %}
                </div>
            </div>
            <!-- Content box start -->
            <!-- Content box start -->
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="content-box">
                <a href="http://www.yelp.com/biz/tria-taproom-philadelphia" target="_blank">
                    <div class="content-box-image">
                        <img src="http://s3-media1.fl.yelpcdn.com/bphoto/Xf85yiwEFzGcM3ASuSRvQA/o.jpg" alt="">
                    </div>
                    <h3 class="content-box-title font-serif">Tria Taproom</h3> </a> {% trans "Spot of our 2nd date, an awesome beer selection, with endless taps - and you seriously have to try the ricotta lavender honey bruschetta." %}
                    </div>
            </div>
            <!-- Content box start -->
            <!-- Content box start -->
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="content-box">
                <a href="http://www.yelp.com/biz/marathon-on-the-square-philadelphia" target="_blank">
                    <div class="content-box-image">
                        <img src="http://s3-media4.fl.yelpcdn.com/bphoto/29sMXcIhBRspWT3kJhC29A/o.jpg" alt="">
                    </div>
                    <h3 class="content-box-title font-serif">Marathon</h3> </a> {% trans "Control freak salads. Turkey burgers. With bacon. And apple slices. Just amazing! Some draft beer. Best sweet potato fries ever!!" %}
                </div>
            </div>
            <!-- Content box start -->
            <!-- Content box start -->
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="content-box">
                <a href="http://www.yelp.com/biz/talulas-daily-philadelphia" target="_blank">
                    <div class="content-box-image">

                        <img src="http://s3-media1.fl.yelpcdn.com/bphoto/TIdU5T2dz4AHHEDrOZ8ZXg/o.jpg" alt="">
                    </div>
                    <h3 class="content-box-title font-serif">Talula's Daily</h3></a>{% trans " Awesome bakery selection. Great coffee (in huge servings!) and an adorable place to sit outside, overlooking Washington Square." %}
            </div>
            <!-- Content box start -->
        </div>
        <!-- .row -->
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 align-center mt-70">
                <!-- Divider -->
                <hr class="divider-w pt-20">
                <!-- Divider -->
                <a href="http://www.tripadvisor.com/Restaurants-g60795-Philadelphia_Pennsylvania.html" target="_blank" class="font-alt mt-50">{% trans "Check other dining recommendations!" %}</a>
            </div>
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</section>
